# unpacked plugin folders
plugins/**/*

#WEB-INF classes folder
WEB-INF/railo/cfclasses/*

# Any other folders
log/
images/dropzone/*.jpg
images/dropzone/*.jpeg
images/dropzone/*.png
images/dropzone/temp/*.jpg
images/dropzone/temp/*.jpeg
images/dropzone/temp/*.png

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# Other files and folders to ignore
*.metadata
mxunit
*.log
