# unpacked plugin folders
plugins/**/*

#WEB-INF classes folder
WEB-INF/railo/cfclasses/*

# Any other folders
log/
images/dropzone/*.jpg
images/dropzone/*.jpeg

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# Other files and folders to ignore
*.metadata
mxunit
*.log
*.project
