# unpacked plugin folders
plugins/**/*

#WEB-INF classes folder
WEB-INF/railo/cfclasses/*
WEB-INF/railo/lib-hash
WEB-INF/railo/railo-web.xml.cfm

# Log files
log/

# uploaded image files
images/dropzone/*.jpg
images/dropzone/*.jpeg
images/dropzone/thumbs/*.jpg
images/dropzone/thumbs/*.jpeg

# files directory where uploads go
files/

# tests directory
tests/

# DBMigrate plugin: generated SQL
db/sql

# Other files and folders to ignore
*.metadata
mxunit
*.log
*.project
